/*---------------------------------------- 
NAVIGATIE--------------------------------
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.home{
    text-decoration: none;
    color: white;
    padding: 1em;
}

.home:hover{
    text-decoration: underline;
    color: snow;
}

ul {
 margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}

h1:nth-of-type(1){
    color: snow;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 1.5em;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: snow;
    text-decoration: none;
    font-weight: bold;
    padding: 0.4em;
    font-size: 1em;
}


.nav-links li a:hover {
    text-decoration: underline;
    color: snow;
    font-size: 1.5em;
}

/* om het hamburgermenu niet te laten zien*/
.burgermenu {
    display: none;
}

.burgermenu div {
    width: 1.5em;
    height: 0.2em;
    background-color: snow;
    margin: 0.3em;
}

@media (max-width: 48em) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        margin: 0px;
        height: 92vh;
        /* om het fullscreeen te maken */
        top: 7vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        /* zet de nav container naast het scherm*/
        transition: tranform 0.5s ease-in;
        z-index: 1;
    }

    .burgermenu {
        display: block;
        /* hamburgermenu weer zichtbaar*/
    }
}

.nav-active {
    transform: translateX(0%);


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
}

/* bron:https://www.youtube.com/watch?v=gXkqy0b4M5g&t=1335s */


/*------------------------------------------
HEADER------------------------------------
*/

@media (min-width: 32em) {
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        right: 5em;
    }
}

/*-----------------------------------------------------------
-------------------MIJN PORTFOLIO----------------------------
*/

body {
    margin: 0em;
    margin-top: 0em;
    font-family: 'Montserrat', sans-serif;
}

.vak1 {
    width: 25em;
    padding-top: 2em;
}

.vak2 {
    width: 25em;
    padding-top: 2em;
}

.content-section {
    padding-top: 2.5rem;
    padding-bottom: 7.5rem;
  }
  
  .content-section-heading h2 {
    font-size: 3rem;
  }
  
  .content-section-heading h3 {
    font-size: 1rem;
    
  }

.container {
    display: flex;
    justify-content: center;
}
@media (min-width: 30em) {
    .vakken {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 3em;
        padding-right: 2em;
    }
}
@media (min-width: 38em) {
    .vakken {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 8em;
        padding-right: 5em;
    }
}

@media (min-width: 45em) {
    .vakken {
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 10em;
        padding-right: 0em;
        padding-top: 5em;
    }
}

@media (min-width: 60em) {
    .vakken {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.2em;
        grid-row-gap: 1em;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 5em;
    }
}

@media (min-width: 78em) {
    .vakken {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 0.2em;
        grid-row-gap: 1em;
        padding-left: 2em;
        padding-right: 2em;
        padding-top: 5em;
        padding-bottom: 5em;
    }
}


figure{
  position:static;
  position:relative; 
/* position van static (de default) naar relative */
  margin:0 auto;
  
  display:flex;
  flex-direction:column-reverse;
/* door flex + coloumn-reverse komt figcaption boven de img */
}

.projecten{
    text-align: center;
    margin-bottom: 2em; 
}

figcaption {
    font-size: 0.9em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    color: snow;
    background-color: lightskyblue;
    opacity: 0.5;
    position: absolute;
    top: 90%;
    left: 34%;
    transform: translate(-50%, -50%);
}

.callout {
    padding: 15rem 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .callout h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem;
  }
  
  .portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 10rem ;
  }
  
  .portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(192, 206, 178, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .portfolio-item .caption .caption-content {
    color: black;
    margin: auto 2rem 2rem;
  }
  
  .portfolio-item .caption .caption-content h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  
  .portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  @media (min-width: 992px) {
    .portfolio-item {
      max-width: none;
      margin: 0;
    }
    .portfolio-item .caption {
      transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
      transition: clip-path 0.25s ease-out, background-color 0.7s;
      transition: clip-path 0.25s ease-out, background-color 0.7s, -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(0px);
      clip-path: inset(0px);
    }
    .portfolio-item .caption .caption-content {
      transition: opacity 0.25s;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
    }
    .portfolio-item img {
      transition: -webkit-clip-path 0.25s ease-out;
      transition: clip-path 0.25s ease-out;
      transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
      -webkit-clip-path: inset(-1px);
      clip-path: inset(-1px);
    }
    .portfolio-item:hover img {
      -webkit-clip-path: inset(2rem);
      clip-path: inset(2rem);
    }
    .portfolio-item:hover .caption {
      background-color: rgba(192, 206, 178, 0.9);
      -webkit-clip-path: inset(2rem);
      clip-path: inset(2rem);
    }
  }



/*---------------------------------------------------------------
----------------------OVER MIJ PAGINA--------------------------*/

.tekstovermij {
        display: flex;
        flex-direction: row;
        justify-content: center;
}

.fotomij {
    padding: 2em;
 margin: 1em;
    width: 35em;
    background-color: #C0CEB2;
    display: flex;
    justify-content: center;
}


h2 {
    font-size: 1.4em;
    font-weight: lighter;
    padding-right: 2em;
}

.omschrijving{
    font-size: 1.1em;
    text-align: center;
}

li{
    float: left;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    text-align: center;
}

ul li{
    list-style-type:disc;
    list-style-position: inside;
}

.beleving{
    font-weight: bold;
}
.tekst {
    padding-right: 2em;
    font-size: 1.2em;
    padding-left: 1em;
}

@media (max-width: 70em) {
    .tekstovermij {
        display: flex;
        flex-direction: column;
    }

    .fotomij {
        width: 100%;
    }

    h2 {
        padding-top: 0em;
    }
}

.hallo {
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/*-------------------------------MINOR PAGINA
-------------------------------*/

.link{
    color: black;
}

/*link:hover{
    color:blue;
}
*/

.madoofoto{
    display: flex;
    width: 35em;
    padding-top: 6em;
    margin-left: auto;
    margin-right: auto;
}

.minor-taken{
    text-align: left;
}

.onderschrift{
    display: flex;
    justify-content: center;
}

.tweede-foto{
    display: flex;
    width: 35em;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.bold{
    font-weight:bold;
    margin: 0;
}

.video{
    margin-left: 5em;
    margin-top: 1em;
}

@media (min-width: 23em) {
    .gridvid{
        display: flex;
        flex-direction: column;
        }
    .vidfoto {
        padding-right: 0.5em;
        padding-left: 0.5em;
        padding-bottom: 0.5em;
        width: 100%;
    }
}

@media (min-width: 53em) {
     .gridvid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .tekstvid {
        padding-left: 2em;
    }

    .vidfoto {
        padding-right: 0em;
        padding-top: 3em;
        padding-bottom: 1em;
        width: 28em;
    }
}

@media (min-width: 75em) {
     .gridvid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .tekstvid {
        padding-left: 0em;
        padding-right: 2em;
    }

    .vidfoto {
        padding-right: 0em;
        padding-left: 2em;
        padding-bottom: 1em;
        width: 40em;
    }

}

/*----------------SNOOZY PAGINA
-----------------------------*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0em;
    padding-left: 2em;
    padding-right: 2.5em;
}
.fotosnoozy{
    width: 40em;
    height: 30em;
}
.slideshow{
    padding-top: 5em;
    position: relative;
    width: 100%;
    height: 30em;
}

.fade:not(.show) {
    opacity: 1;
}
.tekstsnoozy {
    padding-right: 2em;
    font-size: 1.2em;
    padding-left: 1em;
}
a{
    text-decoration: none;
    background-color:
    color: white;
    padding: 1em;
}
.link{
    grid-column: 2;
}

@media (max-width: 71em){
    .grid{
    display: flex;
    flex-direction: column;
    }
    .fotosnoozy{
    max-width:100%;
    max-height:100%;
    }
    
    .slideshow{    
    text-align: center;
    padding-top: 1em;
    position: relative;
    }
        
    .tekstsnoozy {
    margin-top: 2em;
    padding-right: 2em;
    font-size: 1.2em;
    padding-left: 1em;
}
}
/*-------------FOOTER------------*/
footer{
    background-color: black;
}


.footer-icoon{
   color:white;
}

.socials{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: violet;
}




